@import "~foundation-sites/scss/util/util";
@import "./Settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

.map {
  height: 100%;
}

html,
body,
#root,
.app {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;

  .nav-bar {
    flex-shrink: 0;
    height: 35px;
  }
  .main-container {
    flex-grow: 1;
  }
}
